# Visual Studio
.vs/
bin/
obj/
*.user
*.suo

# JetBrains
.idea/

# Build
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Logs/files згенеровані під час роботи
*.log
big_report.txt
group.json
ports.log

# OS
.DS_Store
Thumbs.db
